.advantages {
  padding-bottom: 174px;

  background-image: url("../../img/advantages-background-mobile.png");
  background-repeat: no-repeat;

  background-position: center calc(100% + 82px);
}

.advantages__title {
  width: 254px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

.advantages__footnote {
  display: block;
  width: 230px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 11px;

  font-family: "Leokadia Deco", "Arial", sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
}

.advantages__wrapper {
  margin-bottom: 31px;
  padding-bottom: 7px;
  background-color: #ffffff;
}

.advantages__list {
  margin: 0;

  padding: 0;

  list-style: none;
}

.advantages__item-title {
  width: 220px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 17px;
}

.advantages__text {
  width: 264px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 13px;
  line-height: 16px;
  text-align: center;

  &--delivery {
    width: 245px;
  }
}

.advantages__item {
  position: relative;

  padding-top: 85px;

  &::before {
    position: absolute;
    display: block;
    content: "";
  }

  &--natural::before {
    width: 61px;
    height: 61px;

    top: 11px;
    left: calc(50% - 30.5px);

    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 518.58 518.41'%3E%3Cpath d='M440.08 78a255.91 255.91 0 0 0-362 0 255.91 255.91 0 0 0 0 362 256 256 0 0 0 437-181 254 254 0 0 0-75-181zm-10.7 351.3A240.84 240.84 0 0 1 88.78 88.73a240.84 240.84 0 0 1 340.6 340.6z' fill='%23f50049' stroke='%23f50049' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath d='M453.88 176l-13.8 6.4a208.58 208.58 0 0 1 19.6 88.9h15.2a222.76 222.76 0 0 0-21-95.3zM411.58 110.13A224.22 224.22 0 0 0 252.08 44v15.2a209.32 209.32 0 0 1 148.8 61.6 213.15 213.15 0 0 1 33.1 42.8l13.1-7.7a230.42 230.42 0 0 0-35.5-45.77z' fill='%23f50049' stroke='%23f50049' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath d='M342.68 312.23H334c-15 0-43 2.8-61.2 21a53.12 53.12 0 0 0-6.4 7.8v-41.4h.9c15 0 43-2.7 61.2-21 25-25 20.8-68.1 20.7-69.9a7.43 7.43 0 0 0-6.5-6.5H334c-15 0-43 2.8-61.2 21a53.12 53.12 0 0 0-6.4 7.8V212c8.2-7.3 32.1-31.8 32.1-61.7 0-35.3-33.4-62.9-34.8-64a7.24 7.24 0 0 0-9.2 0c-1.5 1.2-34.8 28.8-34.8 64 0 29.9 24 54.3 32.1 61.7v18.6a59.79 59.79 0 0 0-6.4-7.9c-18.3-18.3-46.2-21-61.2-21h-8.7a7.43 7.43 0 0 0-6.5 6.5c0 1.8-4.3 44.9 20.7 69.9 18.3 18.3 46.2 21 61.2 21h.9v41a50.67 50.67 0 0 0-6.5-7.4c-18.3-18.3-46.2-21-61.2-21h-8.7a7.43 7.43 0 0 0-6.5 6.5c0 1.8-4.3 44.9 20.7 69.9 18.3 18.3 46.2 21 61.2 21h.9v59.6a7.3 7.3 0 1 0 14.6 0v-59.1h.8c15 0 43-2.7 61.2-21 25-25 20.8-68.1 20.7-69.9a7 7 0 0 0-6.32-6.47zm-142.6-43.8c-15.1-15.1-16.8-40.3-16.8-51.9h.9c10.3 0 35.8 1.6 51 16.8s16.8 40.3 16.8 51.9c-9.9.2-36.3-1.23-51.9-16.8zM252 395c-9.9.2-36.3-1.2-51.9-16.8-15.1-15.1-16.8-40.3-16.8-51.9 10 0 36.4 1.2 51.9 16.8s16.88 40.43 16.8 51.9zm7.4-196c-8.4-8.2-24.9-27.2-24.9-48.6s16.6-40.3 24.8-48.5c8.3 8.2 24.8 27.2 24.8 48.5s-16.42 40.43-24.72 48.6zm24 34.2l-.4.1c15.1-15.1 40.7-16.8 51-16.8h.9c0 11.6-1.5 36.4-16.8 51.9s-41.9 17-51.9 16.8c.28-11.87 1.98-36.77 17.18-51.97zm35.1 145.1c-15.2 15.5-40.6 16.8-51 16.8h-.9c0-11.7 1.7-36.8 16.8-51.9l-.1-.1c15.1-15.1 40.7-16.8 51-16.8h.9c-.02 11.63-1.52 36.53-16.72 52.03z' fill='%23f50049' stroke='%23f50049' stroke-miterlimit='10' stroke-width='5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  &--delivery::before {
    width: 84px;
    height: 50px;

    top: 21px;
    left: calc(50% - 42px);

    background-image: url("data:image/svg+xml,%3Csvg data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 183.5 109.4'%3E%3Cg data-name='%23f20c4dff' fill='%23f20c4d'%3E%3Cpath d='M28.5 0h5.3c13.4.7 25.6 10.6 28.9 23.6.3 2 .7 4 1 6A31.84 31.84 0 0 1 33.1 63c-1.5.1-3.1-.3-4.6.2l-5.8-1.5A32.39 32.39 0 0 1 0 34.6v-6.2A32.7 32.7 0 0 1 8.8 9.8 33.73 33.73 0 0 1 28.5 0m-2 6.6A25.58 25.58 0 0 0 6.7 25.9a24.92 24.92 0 0 0 7.9 24.5 26.19 26.19 0 0 0 26.1 5.1C52.4 51.5 60 38.2 57 26 54.3 12.6 39.7 3.4 26.5 6.6zM93.2 5c1.1-4.4 7.3-6 10.4-2.6 3.1 2.9 1.9 8.1-1.5 10.2a22.4 22.4 0 0 1-5.8.2c-2.1-1.9-4.2-4.6-3.1-7.8m5.4.7c-1.8.8.1 3.6 1.4 2.1.9-1-.1-2.8-1.4-2.1z'/%3E%3Cpath d='M15.7 25.9c.1-6 10-7.4 12.1-1.9 1.9 6-3.7 10.5-6.8 14.7a69.42 69.42 0 0 1 7.9-.1V42H15.5v-3c3-3.5 7.3-6.4 8.6-11.1 1-1.8-1.1-4.6-3.2-3.7a3.4 3.4 0 0 0-2.2 2.8 20.92 20.92 0 0 0-3-1.1zM31.7 34c2.9-4.3 5.3-8.9 8.1-13.2.9 0 2.8-.1 3.8-.1-1.6 4.4-4.9 8.6-7.3 12.9 1.7.1 3.4 0 5.1 0-.1-1.7-.1-3.4-.1-5.2 1.2 0 2.3 0 3.5-.1.5 1.8-.1 3.6.3 5.4.6 0 1.9-.2 2.5-.2 0 1-.1 2.9-.1 3.8-.6 0-1.9-.1-2.6-.1V42a11.38 11.38 0 0 1-3.7-.2c-.1-1.5.5-3.2-.1-4.6-3.2.1-6.3 0-9.5.1.1-.9.1-2.5.1-3.3zM128.4 34.5c2.6-1.1 5.6 1.8 4.4 4.4-.8 2.4-4.5 3.1-5.9.9a3.41 3.41 0 0 1 1.5-5.3zM89.8 56.5c4.3 1.6 9.2 2.6 13.4 0 .5.1 1.4.5 1.9.6h29a3.87 3.87 0 0 1 3.7 3.9v23c.2.4.4 1.3.6 1.7-1.3 5.7-.2 11.8-.6 17.7a3.8 3.8 0 0 1-3.9 3.7c-24.3.1-48.7 0-73 0-2.3.2-4.7-1.2-4.8-3.7V61a3.86 3.86 0 0 1 3.8-3.8c9.3-.1 18.7 0 28 0 .5-.2 1.4-.5 1.9-.7m-27.6 6.7v14.7c3.1 4.8 7.9 9.2 13.9 9.6 5.6.1 10.1-3.7 13.9-7.3 3.4-3.2 8-6.7 13-5.4 6.7 2.1 9.5 9.7 16.1 12 4.1 1.6 10 1.2 12.7-2.7V63.2q-34.8-.15-69.6 0m31 22.1c-4.1 4.1-9.3 7.6-15.3 8.1s-11.6-2.2-15.7-6.2v14l.6.3c23-.2 46.1 0 69.1-.1v-9.5c-7.2 3.6-16.1 1.6-21.8-3.8-3-2.5-5.2-6.3-9-7.6-3.3.2-5.6 2.7-7.9 4.8z'/%3E%3C/g%3E%3Cpath d='M26.5 6.6C39.7 3.4 54.3 12.6 57 26c3 12.1-4.6 25.5-16.4 29.5a25.7 25.7 0 0 1-26.1-5.1 25.42 25.42 0 0 1-7.9-24.5A25.85 25.85 0 0 1 26.5 6.6M15.7 25.9a26.79 26.79 0 0 1 3 1.2 3.54 3.54 0 0 1 2.2-2.8c2.1-.9 4.2 1.8 3.2 3.7-1.3 4.7-5.5 7.5-8.6 11.1v3h13.4v-3.4c-2.6 0-5.3-.1-7.9.1 3.1-4.2 8.7-8.7 6.8-14.7-2-5.7-12-4.2-12.1 1.8m16 8.1c0 .8 0 2.4-.1 3.2 3.2-.1 6.3 0 9.5-.1.6 1.4 0 3.1.1 4.6a11.53 11.53 0 0 0 3.7.2v-4.8c.6 0 1.9.1 2.6.1 0-.9.1-2.8.1-3.8-.6 0-1.9.2-2.5.2-.4-1.7.2-3.6-.3-5.4-1.2 0-2.3.1-3.5.1 0 1.7 0 3.4.1 5.2a43.39 43.39 0 0 1-5.1 0c2.4-4.3 5.7-8.4 7.3-12.9-1 0-2.8.1-3.8.1-2.8 4.4-5.2 9-8.1 13.3z' fill='%23fff' data-name='%23ffffffff'/%3E%3Cg data-name='%23ff0048ff' fill='%23ff0048'%3E%3Cpath d='M96.3 12.9a28.16 28.16 0 0 0 5.8-.2c.4 1.8.1 3.5.2 5.3 20.2 1 40.6 8.3 55 22.8 16.1 16.2 24.4 38.8 26.2 61.3a6.17 6.17 0 0 1-6.4 7.3H19.2c-3.6.4-7.1-2.8-6.7-6.4a107.48 107.48 0 0 1 10.3-41.3l5.8 1.5a106 106 0 0 0-10.1 40.2h37.9c0 2.5 2.5 3.9 4.8 3.7h73a3.86 3.86 0 0 0 3.9-3.7h39.6c-1.6-22.7-10.2-45.9-27.5-61.3-12.5-11.2-29.2-16.8-45.8-18-13.7-1-27.8.3-40.5 5.5-.3-2-.7-4-1-6 10.6-4.4 22.2-5.6 33.5-6a36.48 36.48 0 0 1-.1-4.7z'/%3E%3Cpath d='M77.2 34.9c8.5-1.1 18.6 2.3 21.9 11 1.2 0 1.3-1.9 2.4-2.4a15.67 15.67 0 0 1 11.4-3.8c2.5 7.2-1.9 15.8-9.7 16.9-4.2 2.6-9.1 1.6-13.4 0a17.47 17.47 0 0 1-9.1-5.2c-4-4.5-4.7-10.9-3.5-16.5m4.4 4.9c-.7 7.8 7.2 12.9 14.1 13-.5-2.9-1.2-6-3.3-8.3-2.6-3.2-6.8-4.4-10.8-4.7m21 11.7c3.1-.3 5.3-3.2 6-6.1-3.3-.1-5.4 3.2-6 6.1zM137.2 41.3c2-1.3 4.2.6 5.9 1.5 14.8 9.2 23.7 25.5 27.5 42.1.9 2.3-2 4.8-4.1 3.6-2.1-1-1.8-3.7-2.6-5.6-4-14.9-12.8-29.5-27-36.7a3 3 0 0 1 .3-4.9z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.advantages__important-title {
  width: 230px;

  margin-left: 6.5%;
  margin-bottom: 4px;
}

.advantages__important-footnote {
  margin: 0;
  margin-left: 6%;

  line-height: 24px;
}

.advantages__important-text {
  width: 87.3%;

  text-align: left;
}


@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 131px;

    background-image: url("../../img/advantages-tablet-1.png"), url("../../img/advantages-tablet-2.png");
    background-position: left 9px, calc(100% + 32px) calc(100% + 26px);
  }

  .advantages__title {
    width: 295px;
    margin-bottom: 9px;
  }

  .advantages__footnote {
    width: 235px;

    margin-bottom: 63px;

    font-size: 22px;
  }

  .advantages__wrapper {
    margin-bottom: 204px;
    padding: 0;

    background-color: transparent;
  }

  .advantages__container {
    width: 87.5%;
    max-width: 810px;

    margin-right: auto;
    margin-left: auto;
  }

  .advantages__item {
    margin-bottom: 15px;
    padding: 0;

    &--natural::before {
      width: 48px;
      height: 48px;

      top: 0;
      left: -71px;
    }

    &--delivery::before {
      width: 63px;
      height: 38px;

      top: 5px;
      left: -80px;
    }
  }

  .advantages__item-title,
  .advantages__text {
    width: auto;
    margin: 0;
    text-align: left;
  }

  .advantages__item-title {
    margin-bottom: 4px;
  }

  .advantages__list {
    width: 41.5%;
    margin-left: auto;
  }

  .advantages__important-title {
    width: 270px;

    margin: 0;
    margin-bottom: 8px;
  }

  .advantages__important-footnote {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 6px;
  }

  .advantages__important-text {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    padding-top: 26px;
    padding-bottom: 255px;

    background-image: url("../../img/advantages-desktop-1.png"), url("../../img/advantages-desktop-2.png");
    // background-position: -87px 4px, calc(100% + 123px) calc(100% + 30px);
    background-position: calc(50% - 413px) 4px, calc(50% + 323px) calc(100% + 30px);
  }

  .advantages__title {
    width: 430px;

    margin-bottom: 39px;
  }

  .advantages__wrapper {
    margin-bottom: 411px;
  }

  .advantages__footnote {
    width: 320px;

    margin-bottom: 131px;

    font-size: 27px;
    line-height: 31px;
  }

  .advantages__container {
    width: 100%;

    max-width: 1220px;
  }

  .advantages__item-title {
    margin-bottom: 7px;

    font-size: 17px;
    line-height: 20px;
  }

  .advantages__text {
    width: 60%;

    font-size: 17px;
    line-height: 23px;
  }

  .advantages__list {
    width: 48.5%;
  }

  .advantages__item {
    margin-bottom: 39px;

    &--natural::before {
      width: 61px;
      height: 61px;

      top: 10px;
      left: -81px;
    }

    &--delivery::before {
      width: 84px;
      height: 50px;

      left: -96px;
    }
  }

  .advantages__important-title {
    width: 370px;

    margin-bottom: 29px;
  }

  .advantages__important-footnote {
    margin-bottom: 6px;

    font-size: 30px;
    line-height: 36px;
  }

  .advantages__important-text {
    width: 36%;

    font-size: 17px;
    line-height: 24px;
  }
}
