.assortment {
  width: 87.4%;

  margin-right: auto;
  margin-left: auto;
}

.assortment__main-title {
  width: 154px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.assortment__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.assortment__link {
  position: relative;
  display: block;
}

.assortment__title {
  margin: 0;

  font-size: 13px;
  color: #2d2829;
}

.assortment__count {
  font-size: 12px;
  color: #2d2829;
}

.assortment__link-container {
  position: absolute;

  top: 10px;
  left: 12px;
  z-index: 2;
}

.assortment__image {
  display: block;
  width: 282px;
  height: 120px;

  margin: 0 auto;
}

.assortment__item {
  margin-bottom: 10px;

  background-color: #ffffff;
}

.assortment__item--kids {
  background-color: #f4f4f4;
}

.assortment__item:hover .assortment__image {
  opacity: 0.4;
}

@media (min-width: $tablet-width) {
  .assortment {
    width: 94.7%;
  }

  .assortment__main-title {
    width: 190px;

    margin-left: 0;
    margin-bottom: 37px;
  }

  .assortment__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 728px;
    height: 408px;
  }

  .assortment__item {
    width: 288px;
    height: 184px;
    margin: 0;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);
    }

    &:active {
      opacity: 0.6;
    }
  }

  .assortment__item--big {
    width: 419px;
    height: 388px;
  }

  .assortment__image {
    width: auto;
    height: auto;
  }

  .assortment__item:hover .assortment__image {
    opacity: 1;
  }

  .assortment__link-container {
    top: 17px;
    left: 26px;
  }

  .assortment__link-container--big {
    top: 20px;
    left: 25px;
  }
}
