.header-top-container {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding-top: 13px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 9px;

  background-color: #ffffff;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .header-top-container {
    padding-top: 21px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 15px;
  }
}

@media (min-width: $tablet-width) {
  .header-top-container {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header-top-container {
    width: 100%;
    max-width: 1220px;

    margin: 0 auto;

    padding: 0;
    padding-top: 59px;

    background-color: transparent;
  }
}
