.order {
  width: 87%;
  margin: 0 auto;
}

.order__main-title {
  width: 214px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9px;

  line-height: 29px;
  text-align: center;
}

.order__first-step,
.order__second-step {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.order__third-step {
  background-color: #ffffff;
}

.order__title {
  width: 245px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;

  padding-top: 13px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.16px;
  color: #f50049;
}

.order__footnote {
  margin-bottom: 17px;
}

.order__title-number {
  font-size: 30px;
  margin-right: 4px;
}

.order__button {
  border: none;
  width: 64%;
}

.order__type-controls {
  display: none;
}

@media (min-width: $tablet-width) {
  .order {
    width: 94.7%;
  }

  .order__first-step {
    position: relative;
    display: flex;
    align-items: flex-start;

    margin-bottom: 21px;
    padding-bottom: 30px;
  }

  .order__second-step {
    margin-bottom: 21px;
  }

  .order__third-step {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 9px;

    background-image: url("../img/order-step3-tablet.png");
    background-repeat: no-repeat;
    background-position: 1% calc(50% + 11px);
  }

  .order__third-step .slick-slide {
    margin-top: 1px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-bottom: 25px;
  }

  .order__title {
    width: 13%;
    margin: 0;
    margin-left: 45px;
    margin-top: 15px;

    font-size: 18px;
  }

  .order__title-number {
    display: block;

    margin-bottom: 2px;

    font-size: 36px;
    line-height: 40px;
  }

  .order__main-title {
    width: 335px;
    margin-bottom: 13px;
  }

  .order__footnote {
    width: 250px;
    margin-bottom: 31px;
  }

  .order__button {
    width: 136px;

    margin: 0;

    padding-top: 8px;
    padding-bottom: 7px;

    font-size: 10px;

    cursor: pointer;
  }

  .order__type-controls {
    display: block;
    width: 100%;
    position: absolute;

    top: 43%;
  }

  .order__type-list {
    position: relative;
  }

  .order__type-item {
    position: absolute;
  }

  .order__type-item--next {
    right: 7%;
  }

  .order__type-item--prev {
    left: 12.4%;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: 100%;
    max-width: 1220px;
  }

  .order__first-step {
    padding-bottom: 67px;
    margin-bottom: 35px;
  }

  .order__second-step {
    margin-bottom: 35px;
    padding-bottom: 71px;
  }

  .order__third-step {
    padding-bottom: 34px;

    background-image: url("../img/order-step3-desktop.png");
    background-repeat: no-repeat;
    background-position: 2% calc(50% + 79px);
  }

  .order__third-step .slick-slide {
    margin-top: 1px;
    margin-left: 20.5px;
    margin-right: 20.5px;
    margin-bottom: 25px;
  }

  .order__main-title {
    width: 480px;

    margin-bottom: 23px;

    line-height: 44px;
  }

  .order__footnote {
    width: 334px;

    margin-bottom: 52px;
  }

  .order__title {
    margin-top: 36px;
    margin-left: 80px;

    font-size: 27px;
    line-height: 30px;
    letter-spacing: 0.27px;
  }

  .order__title-number {
    font-size: 59px;
    line-height: 65px;
  }

  .order__button {
    width: 182px;

    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 13px;
  }

  .order__type-controls {
    top: 262px;
  }

  .order__type-item--prev {
    left: 182px;
  }

  .order__type-item--next {
    right: 113px;
  }
}
