.order {
  width: 87%;
  margin: 0 auto;
}

.order__main-title {
  width: 214px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9px;

  line-height: 29px;
  text-align: center;
}

.order__first-step {
  background-color: #ffffff;
}

.order__title {
  width: 245px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;

  padding-top: 13px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.16px;
  color: #f50049;
}

.order__footnote {
  margin-bottom: 17px;
}

.order__title-number {
  font-size: 30px;
  margin-right: 4px;
}

.order__button {
  border: none;
  width: 178px;
}

@media (min-width: $tablet-width) {
  .order {
    width: 94.7%;
  }

  .order__first-step {
    display: flex;
  }

  .order__title {
    width: 95px;
    margin: 0;

    font-size: 18px;
  }

  .order__title-number {
    font-size: 36px;
  }

  .order__main-title {
    width: 335px;
    margin-bottom: 13px;
  }

  .order__footnote {
    width: 250px;
    margin-bottom: 31px;
  }
}
