.page-title {
  width: 200px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;

  padding-top: 128px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 3px;
  color: #2d2829;
  text-align: center;
}
