.type-slide {
  padding-bottom: 26px;
}

.type-slide__image {
  display: block;
  width: 241px;
  height: 113px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 38px;
}

.type-slide__cake-name {
  width: 140px;

  margin: 0;
  margin-left: calc(50% - 121px);
  margin-bottom: 5px;

  font-size: 14px;
  color: #2f2f2f;
}

.type-slide__cake-description {
  width: 242px;

  margin: 0 auto;
  margin-bottom: 13px;

  color: #2f2f2f;
}

.type-slide__price {
  display: block;

  width: 105px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.16px;
  color: #2f2f2f;
}

@media (min-width: $tablet-width) {
  .type-slide__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    margin-left: 6.9%;
    margin-top: 53px;

    cursor: pointer;
  }

  .type-slide__text-container {
    margin-top: 22px;
  }

  .type-slide__cake-name {
    width: 190px;
    margin: 0;
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.18px;
  }

  .type-slide__cake-description {
    width: 217px;

    margin: 0;
    margin-bottom: 6px;

    font-size: 14px;
  }

  .type-slide__price {
    width: 130px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 20px;
    line-height: 23px;
  }

  .type-slide__image {
    width: 210px;
    height: 239px;

    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .type-slide__image {
    width: 344px;
    height: 390px;
  }

  .type-slide__container {
    margin-top: 88px;
    margin-left: 57px;
  }

  .type-slide__cake-name {
    font-size: 19px;
    line-height: 23px;
  }

  .type-slide__cake-description {
    width: 288px;

    margin-bottom: 16px;

    font-size: 17px;
    line-height: 24px;
  }

  .type-slide__text-container {
    margin-top: 67px;
  }

  .type-slide__price {
    margin-bottom: 53px;

    font-size: 22px;
  }
}
