.visualization-slide {
  padding-bottom: 40px;
}

.visualization-slide__image {
  display: block;

  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 2px 4.95px 0.05px rgba(163, 6, 60, 0.1);
}

.visualization-slide__cake-name {
  width: 180px;

  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 4px;

  text-align: center;
  color: #2f2f2f;
}

.visualization-slide__price {
  display: block;

  width: 97px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #2f2f2f;
}

@media (min-width: $tablet-width) {
  .visualization-slide:hover {
    box-shadow: 0 6px 9.7px 0.3px rgba(0, 0, 0, 0.14);
  }

  .visualization-slide {
    position: relative;

    padding-bottom: 0;
    box-shadow: 0 7px 12.74px 0.26px rgba(0, 0, 0, 0.05);

    &::before {
      content: "";
      opacity: 0;
      transition: all 0.6s;
    }
  }

  .visualization-slide__button {
    display: none;
  }

  .visualization-slide__cake-name {
    margin-top: 15px;
  }

  .visualization-slide__image {
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    width: 196px;
    height: 194px;

    box-shadow: none;
  }

  .visualization-slider {
    width: 62%;

    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
  }

  .visualization-slide__price {
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }

  .visualization-slide__controls {
    position: absolute;
    top: 50%;

    z-index: 10000;
  }

  .slider-controls__button-prev {
    left: -50px;
    transform: rotate(180deg);

    &:active {
      transform: rotate(180deg);
    }
  }

  .slider-controls__button-next {
    right: -50px;
  }
}

@media (min-width: $desktop-width) {
  .visualization-slider {
    width: 759px;
  }

  .visualization-slide__image {
    width: 321px;
    height: 320px;

    margin: 0;
    margin-bottom: 52px;
  }

  .visualization-slide__cake-name {
    font-size: 18px;
    line-height: 30px;

    margin-bottom: 0;
  }

  .visualization-slide__price {
    width: 130px;

    margin-bottom: 24px;

    font-size: 19px;
    line-height: 30px;
  }
}
